################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/testc/v17
/.vs/testc/project-colors.json
/.vs/ProjectSettings.json
/.vs/VSWorkspaceState.json
